@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body{
    background-color: #121212;
    color: aliceblue;
    font-family: 'Muli', sans-serif;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.title {
    position: absolute;
    top: 20%;
    color: #7a5af5;
}

.key{
    border: 1px solid;
    border-radius: 7px;
    background-color: #3f3f3f;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    padding: 20px;
    flex-direction: column;
    margin: 10px;
    font-weight: bold;
    min-width: 150px;
    position: relative;
}

.key small {
    position: absolute;
    color: #7a5af5;
    top: -24px;
    left: 0;
    text-align: center;
    width: 100%;
}